* {
    margin: 0;
    box-sizing: border-box;
}


/* les couleurs en variables */

/* couleurs tendances en variables : https://graphiste.com/blog/couleurs-tendances-2021 */
:root {
    --jaunetrend:#f1da5c;
    --gristrend: #8e9091;
    --begetrend: #e8d5cc;
    --mauvetrend: #80586d;
    --cimentrend: #858480;
    --bleufoncetrend: #709ca7;
    --bleuclairtrend: #b8cbd0;
    --bordeauxtrend: #9f5540;
    --bleupigeontrend: #7a90a4;
    --bg-jaune :#f2f20de3;
    --grisclair : #eff0e5;
    --nude : #e9dede;
    --stabilovert: #adff2f;
}
    body {
        background-color: var(--gristrend);
    }

    /* section {
        background-color: var(--jaunetrend);
    } */

    .bg-grisclair {
        background-color: var(--grisclair);
    }

    .stabilo {
        background-color: var(--stabilovert);
    }

    .image {
        width: 100%;
    }

    header {
        background-color: var(--grisclair);
    }