* {
    margin: 0;
    box-sizing: border-box;
}

    body {
        background-color: yellow;
    }

    .container {
        background-color: whitesmoke;
    }

    /* h1 {
        background-color: ;
    } */

    .stabilo {
        background-color: lightcyan;
    }