* {
    margin: 0;
    box-sizing: border-box;
}


/* les couleurs en variables */

    :root {
        --jaune : : yellow;
    }

    .bg-jaune {
        background-color: yellow;
    }

    body {
        background-color: yellow;
    }

    .container {
        background-color: whitesmoke;
    }

    /* h1 {
        background-color: ;
    } */

    .stabilo {
        background-color: lightcyan;
    }